/* General */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background: #fff;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  width: 100%;
}

/* App */
.app {
  background: #000;
}

.weather-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.75em;
  padding: 3em 1.75em 1.75em 1.75em;
}

/* WeatherTab */
.weather-tab {
  background: #000;
  padding: 1.75em 1.75em 0;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.weather-tab-city,
.weather-tab-day,
.weather-tab-type {
  margin: 0 0 0.25em 0;
}

.weather-tab-city {
  font-size: 1.5rem;
}

.weather-tab-main {
  grid-row: 2;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  margin: 0.75em 0 0 0;
}

.weather-tab-description {
  display: flex;
  align-items: center;
}

.weather-tab-image {
  width: 90px;
}

.weather-tab-temp {
  margin: 0;
  font-size: 4rem;
}

i {
  margin: -2em 0 0 0;
  font-size: 1rem;
}

/* WeatherCard */
.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
  padding: 1em;
  min-width: 50px;
  cursor: pointer;
}

.weather-card-day {
  order: -2;
  margin: 0;
}

.weather-card-image {
  order: -1;
}

.weather-card-temperatures {
  display: flex;
  justify-content: space-between;
}

.weather-card-max-temperature,
.weather-card-min-temperature {
  padding: 0 0.15em;
  margin: 0;
}

.weather-card-min-temperature,
.weather-card-day {
  opacity: 0.5;
}
