/* General */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

img {
  display: block;
  width: 100%;
}

.app {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding: 1em;
  background: #000;
}

/* WeatherCard */
.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
  padding: 1.5em;
  margin: 0 1em;
  max-width: 200px;
  min-width: 75px;
}

.weather-card-day {
  order: -2;
  margin: 0;
}

.weather-card-image {
  order: -1;
}

.weather-card-temperatures {
  display: flex;
}

.weather-card-max-temperature,
.weather-card-min-temperature {
  margin: 0 0.2em;
}

.weather-card-min-temperature,
.weather-card-day {
  opacity: 0.5;
}
